#main{
    border: 1px solid black;
    text-align: center;
    background-color: aquamarine;
    width: 500px;
    margin: 0 auto;
}

input{
    color: blue;
    background-attachment: fixed;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
}

input::placeholder{
    color: black;
}